.manageSpotsContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    max-width: 1000px;
    position: relative;
}
#spotButton {
    background-color: grey;
  
    text-decoration: none;
    color: white;
    padding: 2px;
    border: 1px solid black;
}
.editButtons {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}
#manageSpotsHeader {
    display: block;
    padding: 10px;
}
.manageSpotImage {
    width: 300px;
    height: 200px;
}
#manageSpotButton {
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: white;
    cursor: pointer;
    font-family: inherit;
    margin: 5px;
    height: 23px;
    font-size: 14px;
}