.manageSpotsContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    max-width: 1000px;
    position: relative;
}
#spotButton {
    background-color: grey;
    width: fit-content;
    text-decoration: none;
    color: white;
    padding: 2px;
    border: 1px solid black;
}
.editButtons {
    display: flex;
    position: relative;
    justify-content: left;
}
#manageSpotsHeader {
    display: block;
    padding: 10px;
}
.manageSpotImage {
    width: 270px;
}