#submitReviewButton {
    background-color: #A458A2;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 395px;
}
#submitReviewButton:disabled {
    background-color: white;
    border: 2px solid grey;
    box-shadow: 5px 5px grey;
    color: grey;
    cursor: auto;
    width: 395px;
}
#createReviewContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin: 5px;
    padding: 10px;
    width: 400px;
}
#reviewText {
    font-family: inherit;
    height: 100px;
    margin: 5px 0px;
    width: 390px;
}
.rating {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
}
#starsButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}
.reviewStars {
    align-items: center;
    display: flex;
}
.active {
    color: #000;
}

.inactive {
    color: #ccc;
}