.spotFormContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spotForm {
    display: inline-flex;
    flex-direction: column;
    width: 500px;
}
#createSpotButton {
    background-color: grey;
    border: 2px solid black;
    bottom: 0px;
    box-shadow: 2px 2px black;
    color: white;
    cursor: pointer;
    font-family: inherit;
    left: 50%;
    margin-left: -50px;
    position: relative;
    width: fit-content;
    margin-top: 15px;
    margin-bottom: 15px;
}
#inputSpotPrice {
    width: 478px;
}
#spotFormDescription {
    font-family: inherit;
    height: 100px;
    width: 494px;
}
#endOfSection {
    border-bottom: 2px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputBox {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}
.inputContainer {
    display: flex;
    flex-direction: row;
}
#commaForInput {
    font-size: 20px;
    padding-right: 5px;
    position: relative;
    top: 26px;
}
#titleInput {
    width: 492px;
}
.spotImageInputs {
    display: flex;
    flex-direction: column;
}