button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}
.reviewStars {
    align-items: center;
    display: flex;
}
.active {
    color: #000;
}

.inactive {
    color: #ccc;
}