.spotDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}
#spotDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
#descriptionPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hostedByAndDescription {
    display: flex;
    flex-direction: column;
    width: 600px;
}
#spotPriceInfo {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    float: right;
    height: fit-content;
    padding: 20px;
    width: 300px;
}
#spotPrice {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#reserveContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
#reserveButton {
    background-color: limegreen;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: -webkit-fill-available;
}
#reviewContainer {
    border-top: 2px solid grey;
    padding-top: 5px;
}
.spotImages {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
}
#detailImage1 {
    width: 400px;
}
#detailImage2 {
    width: 300px;
}
#detailImage3 {
    width: 300px;
}
#detailImage4 {
    width: 300px;
}
#detailImage5 {
    width: 300px;
}
#postReviewButton {
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: white;
    cursor: pointer;
    font-family: inherit;
}
#priceOnly {
    display: flex;
    font-size: 24px;
}
/* .detailImage {
    display: flex;
    width: 300px;
} */
@media (max-width: 700px) {
    #spotDescription {
        align-items: center;
        flex-direction: column;
    }
}