.spotDetailContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
}
#spotDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}
#descriptionPrice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#spotDescriptionOnly {
    max-width: 600px;
    word-wrap: break-word;
}
#hostedByAndDescription {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 600px;
}
#spotPriceInfo {
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    float: right;
    height: fit-content;
    padding: 20px;
    width: 300px;
}
#spotPrice {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#reserveContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
#reserveButton {
    background-color: #A458A2;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: -webkit-fill-available;
}
#reviewContainer {
    border-top: 2px solid grey;
    padding-top: 5px;
}
.spotImages {
    display: grid;
    max-width: 1000px;

    grid-template-areas: "image1 image2 image3"
                         "image1 image4 image5";
}
#detailImage1 {
    grid-area: image1;
    height: 303px;
    max-width:100%;
    width: 500px;
}
#detailImage2 {
    grid-area: image2;
    height: 150px;
    max-width:100%;
    padding: 0px 3px 3px;
    width: 250px;
}
#detailImage3 {
    grid-area: image3;
    height: 150px;
    max-width: 100%;
    width: 250px;
}
#detailImage4 {
    grid-area: image4;
    height: 150px;
    max-width:1 00%;
    padding: 0px 3px 3px;
    width: 250px;
}
#detailImage5 {
    grid-area: image5;
    height: 150px;
    max-width: 100%;
    width: 250px;
}
#postReviewButton {
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    color: white;
    cursor: pointer;
    font-family: inherit;
}
#priceOnly {
    display: flex;
    font-size: 22px;
}
@media (max-width: 700px) {
    #spotDescription {
        align-items: center;
        flex-direction: column;
    }
    .spotImages {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
    }
    #detailImage1, #detailImage2, #detailImage3, #detailImage4, #detailImage5 {
        height: 300px;
        padding: 2px;
        width: 500px;
    }
}