.loginContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 400px;
}
.loginForm {
    display: flex;
    flex-direction: column;
    width: inherit;
}
.errors {
    color: red;
    justify-content: center;
    list-style: none;
}
#loginButton {
    background-color: #A458A2;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 395px;
}
#loginButton:disabled {
    background-color: white;
    border: 2px solid grey;
    box-shadow: 5px 5px grey;
    color: grey;
    cursor: auto;
    width: 395px;
}
#loginErrors {
    padding: 0;
}
#loginTitle {
    align-items: center;
    display: flex;
}
#demoUser {
    background: none;
    border: none;
    color: inherit;
    color: #A458A2;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 10px;
    text-decoration: underline;
}