.signupContainer {
    font-family: sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.signupForm {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    font-family: sans-serif;
    padding: auto;
    width: 500px;
}
