.signupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
.signupForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#signupButton {
    background-color: limegreen;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    width: 395px;
}
#signupButton:disabled {
    background-color: white;
    color: grey;
    border: 2px solid grey;
    box-shadow: 5px 5px grey;
    cursor: auto;
    width: 395px;
}
#signupErrors {
    margin: 0;
    padding: 0;
}
#signUp {
    text-align: center;
}