.signupContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.signupForm {
    align-items: center;
    display: grid;
    
    padding: auto;
    width: 500px;
}
