.hidden {
    visibility: hidden;
}
.navigationList, .profile-dropdown {
    list-style: none;
}
#buttonDropdown {
    display: grid;
    height: 50px;
}
#siteLogo {
    height: 78px;
}
.profile-dropdown {
   background-color: white;
   border: 1px solid grey;
   height: 100px;
   margin: 0;
   padding: 5px 10px 5px 10px;
   position: fixed;
   right: 15px;
   top: 56px;
   width: 150px;
   z-index: 1000;
}
.logoutButton {
    align-items: center;
    background-color: grey;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-left: 33px;
    margin-top: 5px;
    padding: 4px 10px 4px 10px;
    position: fixed;
}
.navigationList {
    display: flex;
    height: fit-content;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
.profileButton {
    border: 1px solid grey;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 2px;
    position: absolute;
    right: 20px;
    top: 30px;
    width: 50px;
}
.homeButton {
    display: flex;
    justify-content: flex-start;
    left: 20px;
    position: absolute;
    top: 2px;
}
.navigationContainer {
    align-items: center;
    border-bottom: 2px solid gray;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0;
    width: 100%;
}
.menuIcons {
    padding: 2px 3px 2px 3px;
}
#newSpot {
    position: absolute;
    right: 100px;
    top: 32px;
    text-decoration: none;
    color: limegreen;
}